
    <div class="sidebar">
        <!-- Sidebar section -->
        <div class="sidebar-item">
            <!-- questo h3 ha un gradiente incluso nel css, per dare un po di colore alla pagina -->
            <h3 class="sidebar-title mt-5 mb-3 textGradient">Ti possono Interessare</h3>
        </div>
        <div class="sidebar-item">
            <img src="https://images.unsplash.com/photo-1577253313708-cab167d2c474?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1lZGl0YXRpb258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=60" class="img-fluid mt-4" alt="Immagine articolo 1">
            <h4 class="sidebar-title mt-3 mb-3">Meditazione guidata Metta</h4>
        </div>
        <div class="sidebar-item">
            <img src="https://images.unsplash.com/photo-1585383234137-2367d3c5302d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y3J5c3RhbHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=60" class="img-fluid" alt="Immagine articolo 2">
            <h4 class="sidebar-title mt-3 mb-3">Benefici dei cristalli</h4>
        </div>
        <div class="sidebar-item">
            <img src="https://images.unsplash.com/photo-1523642456391-c597480dbdb6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJ1cm5pbmclMjBoZXJifGVufDB8fDB8fHww&auto=format&fit=crop&w=700&q=60" class="img-fluid" alt="Immagine articolo 3">
            <h4 class="sidebar-title mt-3 mb-3">Come assumere l'ayahuasca</h4>
        </div>
    </div>
